/TestResults

/.vs
/.idea

/Myriad.Ecs.Benchmarks/bin
/Myriad.Ecs.Benchmarks/obj

/Myriad.Ecs.Tests/bin
/Myriad.Ecs.Tests/obj

/Myriad.Ecs/bin
/Myriad.Ecs/obj

/ParallelTasks/obj
/ParallelTasks/bin

*.DotSettings.user
